@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    box-sizing: border-box;
    margin: 0;
    color: white;
}
.LandingPage{
    max-width: 2483px;
    width: 100%;
    margin: 0 auto;
    height: 940px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) -0.07%, rgba(0, 0, 0, 0.5) 100.07%, rgba(0, 0, 0, 0.0001) 100.07%), rgba(170, 170, 170, 0.0001)
}
header{
    width: 100%;

}
h2{
    font-size: 44px;
    line-height: 150px;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul{
    display: flex;
    flex-direction: row;
    margin-top: 70px;

}
li{
    list-style: none;
    padding-right: 70px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
}
h2 a{
    text-decoration: none;
    color: white;
}
ul :last-child {
    padding: 0;
}
li a{
    text-decoration: none;
    color: white;
}
.social-accs{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.social-accs p{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
    margin-top: 28px;
    padding-right: 10px;
}
.logos{
    width: 75px;
    height: 75px;
    border: 1px solid #D69991 ;
    border-radius: 50%;
    background-color: #D69991;
    margin-right: 10px;
    text-align: center;
}
.logos img{
    padding-top: 30%;
}
.main-info{
    width: 1376px;
    height: 582px;
    text-align: center;
    margin-left:230px ;
}
.main-info h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 232px;
    letter-spacing: 2.4px;
    align-items: center;
    text-align: center;
}
.main-info p{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -1px;
}
button{
    width: 344px;
    height: 112px;
    border: 1px solid #D69991;
    background-color: #D69991;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}